* {
    font-family: "Roboto", sans-serif;
    list-style-type: none; 
}
body{
    background: #fff;
    color: #434455;
}
a {
    text-decoration: none;  
} 
.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus,
.header-contact-list-item-link:hover,
.header-contact-list-item-link:focus {
    color: #404BBF;
}
.hero-baner-btn:hover,
.hero-baner-btn:focus {
    background-color: #404BBF;
}
.header {}

.header-nav {}

.header-nav-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.header-nav-logo-span{
    color: #2e2f42;   
}

.header-nav-list {}

.header-nav-list-item {}

.header-nav-list-item-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}


.header-contact {
        font-style: normal
}

.header-contact-list {}

.header-contact-list-item{}

.header-contact-list-item-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ---------hero-baner ------ */

.hero-baner {
        background: #2e2f42;

}

.hero-baner-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-baner-btn {
        font-family: "Roboto", sans-serif;
        background: #4d5ae5;
        margin: 0 0 0 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
}


/* < !------------<->- Our Advantages -----------<->--> */

.advantages {}

.advantages-title {
color: transparent;
}

.advantages-list {}

.advantages-list-item {}

.advantages-list-item-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.advantages-list-item-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ----------< !-->Our Team -----------<-> */
.team {
    background: #f4f4fd;
}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.team-list {}

.team-list-item {
        background-color: #FFFFFF
}

.team-list-item-img {}

.team-list-item-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-list-item-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* < !-/*------------ Our Portfolio /*-------------> */
.portfolio {}

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.portfolio-title-list {}

.portfolio-title-list-item {}

.portfolio-title-list-item-img {}

.portfolio-title-list-item-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-title-list-item-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*----------- footer-------------- */
.footer {
        background: #2e2f42;
}

.footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.footer-logo-white {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd; 
}